<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @photo.photo_attachment.url %>
</p>
<p>
  <b>Caption:</b>
  <%= @photo.caption %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
